<div class="row">
  <div class="col-12 col-xl-9">
    <nb-card>
      <nb-card-header>
        <ng-container *ngIf="isEditForm; else newTitle">
          <h2 i18n>Edit patient</h2>
        </ng-container>
        <ng-template #newTitle>
          <h2 i18n>New patient</h2>
        </ng-template>
      </nb-card-header>
      <nb-card-body *ngIf="patientForm">
        <form [formGroup]="patientForm" (ngSubmit)="submitForm()" class="form-horizontal">
          <div class="form-group row">
            <label for="first-name" class="col-form-label col-sm-3 form-control-label" i18n>First name</label>
            <div class="col-sm-9">
              <input id="first-name" nbInput fullWidth type="text" i18n-placeholder="Placeholder" placeholder="First name"
                     autocomplete="off"
                     [status]="getControlStatus(firstNameControl)"
                     [formControl]="firstNameControl"/>
              <ng-container *ngIf="isControlInvalid(firstNameControl)">
                <span class="text-danger" i18n>First name is required</span>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="last-name" class="col-form-label col-sm-3 form-control-label" i18n>Last name</label>
            <div class="col-sm-9">
              <input id="last-name" nbInput fullWidth type="text" i18n-placeholder="Placeholder" placeholder="Last name"
                     autocomplete="off"
                     [status]="getControlStatus(lastNameControl)"
                     [formControl]="lastNameControl"/>
              <ng-container *ngIf="isControlInvalid(lastNameControl)">
                <span class="text-danger" i18n>Last name is required</span>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-3 form-control-label" i18n>Gender</label>
            <div class="col-sm-9">
              <nb-radio-group [formControl]="genderControl" [status]="getControlStatus(genderControl)">
                <nb-radio value="male" i18n>Male</nb-radio>
                <nb-radio value="female" i18n>Female</nb-radio>
              </nb-radio-group>
              <ng-container *ngIf="isControlInvalid(genderControl)">
                <span class="text-danger" i18n>Gender is required</span>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-form-label col-sm-3 form-control-label" i18n>Email</label>
            <div class="col-sm-9">
              <input id="email" nbInput fullWidth type="text" i18n-placeholder="Placeholder" placeholder="Email"
                     autocomplete="off"
                     [status]="getControlStatus(emailControl)"
                     [formControl]="emailControl"/>
              <ng-container *ngIf="isControlInvalid(emailControl)">
                <div *ngIf="emailControl.errors?.required">
                  <span class="text-danger d-inline-block" i18n>Email is required</span>
                </div>
                <div *ngIf="emailControl.errors?.email">
                  <span class="text-danger d-inline-block" i18n>Email is invalid</span>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="birthdate" class="col-form-label col-sm-3 form-control-label" i18n>Birth date</label>
            <div class="col-sm-9">
              <input id="birthdate" nbInput fullWidth i18n-placeholder="Placeholder" placeholder="Select a date"
                     autocomplete="off"
                     [status]="getControlStatus(birthDateControl)"
                     [formControl]="birthDateControl"
                     [nbDatepicker]="datepicker"/>
              <nb-datepicker #datepicker></nb-datepicker>
              <ng-container *ngIf="isControlInvalid(birthDateControl)">
                <span class="text-danger" i18n>Birth date is required</span>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-3 form-control-label" i18n>Phone contacts</label>
            <div class="col-sm-9">
              <div class="form-group row" *ngFor="let control of phonesArrayControl.controls; let index = index">
                <div class="col-8">
                  <input nbInput fullWidth type="text" i18n-placeholder="Placeholder" placeholder="Number"
                         autocomplete="off"
                         [status]="getControlStatus(control.get('value'))"
                         [formControl]="control.get('value')"/>
                  <ng-container *ngIf="isControlInvalid(control.get('value'))">
                    <span class="text-danger" i18n>Phone number is required</span>
                  </ng-container>
                </div>
                <div class="col-4">
                  <button class="mr-3" nbButton outline status="danger" (click)="removeFromPhoneArray(index)"
                          *ngIf="index !== 0 || phonesArrayControl.length > 1">
                    <nb-icon icon="minus"></nb-icon>
                  </button>
                  <button nbButton outline status="info" (click)="addPhoneControlGroup()"
                          *ngIf="index === phonesArrayControl.length - 1">
                    <nb-icon icon="plus"></nb-icon>
                  </button>
                </div>
                <div class="col-12">
                  <nb-radio-group name="use-{{ index }}"
                                  [formControl]="control.get('use')"
                                  [status]="getControlStatus(control.get('use'))">
                    <nb-radio value="home" class="d-inline" i18n>Home</nb-radio>
                    <nb-radio value="work" class="d-inline" i18n>Work</nb-radio>
                    <nb-radio value="temp" class="d-inline" i18n>Temporal</nb-radio>
                    <nb-radio value="old" class="d-inline" i18n>Old</nb-radio>
                    <nb-radio value="mobile" class="d-inline" i18n>Mobile</nb-radio>
                  </nb-radio-group>
                  <ng-container *ngIf="isControlInvalid(control.get('use'))">
                    <span class="text-danger" i18n>Phone use is required</span>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="patientForm.invalid && patientForm.touched">
            <div class="col-12 col-sm-9 offset-sm-3">
              <span class="text-danger" i18n>Please fill out all fields</span>
            </div>
          </div>

          <app-form-actions
            class="d-block mt-4"
            [form]="patientForm"
            [formStatus]="formStatus"
            (submit)="submitForm()"
            (goBack)="goBack()"
          >
          </app-form-actions>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
