<div class="row" *ngIf="patient">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        <h2>
          <ng-container i18n>Health Records for</ng-container>
          {{patient.firstName}} {{patient.lastName}}
        </h2>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-12 col-sm-2 mt-3">
            <span i18n><b>Name</b></span>
          </div>
          <div class="col-11 offset-1 col-sm-10 offset-sm-0 mt-3">
            {{patient.firstName}} {{patient.lastName}}
          </div>
          <div class="col-12 col-sm-2 mt-3">
            <span i18n><b>Email</b></span>
          </div>
          <div class="col-11 offset-1 col-sm-10 offset-sm-0 mt-3">
            {{patient.email}}
          </div>
          <div class="col-12 col-sm-2 mt-3">
            <span i18n><b>Birthdate</b></span>
          </div>
          <div class="col-11 offset-1 col-sm-10 offset-sm-0 mt-3">
            {{patient.birthDate | date}}
          </div>
          <div class="col-12 col-sm-2 mt-3">
            <span i18n><b>Gender</b></span>
          </div>
          <div class="col-11 offset-1 col-sm-10 offset-sm-0 mt-3">
            {{patient.gender | titlecase}}
          </div>
          <div class="col-12 col-sm-2 mt-3">
            <span i18n><b>Contact</b></span>
          </div>
          <div class="col-11 offset-1 col-sm-10 offset-sm-0 mt-3">
            <ng-container *ngFor="let contact of patient.phones">
              {{contact.value}} - {{contact.use | titlecase}} <br/>
            </ng-container>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="row">
          <div class="col-12 text-right">
            <button type="button" nbButton status="success" (click)="navigate('edit')">
              <nb-icon class="icon" icon="edit" pack="eva"></nb-icon>
              <span i18n>Edit</span>
            </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <app-care-plan></app-care-plan>
  </div>

  <div class="col-12 col-sm-6 col-lg-4">
    <nb-card>
      <div class="cursor-pointer action" (click)="createCarePlan()">
        <div class="icon-container">
          <div class="icon status-warning">
            <i class="icon fa fa-hand-holding-medical"></i>
          </div>
        </div>

        <div class="details">
          <span class="title h6" i18n>New care plan</span>
        </div>
      </div>
    </nb-card>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <app-glucose-levels></app-glucose-levels>
  </div>
</div>
