<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-6">
        <h2 i18n>
          Care plan
        </h2>
      </div>
      <div class="col-6 text-right">
        <button nbButton type="button" status="danger" (click)="showDeleteDialog()" [disabled]="disableButton()">
          <nb-icon class="icon" icon="trash" pack="eva"></nb-icon>
          <span i18n>Delete</span>
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body *ngIf="resources">
    <app-care-plan-details [carePlan]="carePlan" [patient]="patient"></app-care-plan-details>

    <div class="row">
      <div class="col-12">
        <hr/>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-auto mb-4">
        <button nbButton status="info" (click)="navigate('new-medication')" [disabled]="disableButton()">
          <nb-icon icon="plus"></nb-icon>
          <span i18n>Add</span>
        </button>
      </div>
      <div class="col mb-4">
        <h4>
          <ng-container i18n>Medication Requests</ng-container>
        </h4>
      </div>

      <div class="col-12">
        <ng-container *ngFor="let medicationRequest of medicationRequests">
          <app-medication-request-view
            class="d-block mb-3"
            [medicationRequestView]="medicationRequest"
            [disableEditButton]="disableButton()"
            [editButton]="true"
            [editPageRoute]="makeMedicationRequestEditRoute(medicationRequest.id)">
          </app-medication-request-view>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col-auto mb-4">
        <button nbButton status="info" (click)="navigate('new-service')" [disabled]="disableButton()">
          <nb-icon icon="plus"></nb-icon>
          <span i18n>Add</span>
        </button>
      </div>
      <div class="col mb-4">
        <h4>
          <ng-container i18n>Blood Glucose Measurement</ng-container>
        </h4>
      </div>

      <div class="col-12">
        <ng-container *ngFor="let serviceRequest of serviceRequests">
          <app-service-request-view
            class="d-block mb-3"
            [serviceRequestView]="serviceRequest"
            [editButton]="true"
            [disableEditButton]="disableButton()"
            [editPageRoute]="makeServiceRequestEditRoute(serviceRequest.id)">
          </app-service-request-view>
        </ng-container>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="row">
      <div class="col-4">
        <button nbButton (click)="goBack()" i18n="Return button">
          Return
        </button>
      </div>
      <div class="col-8 text-right">
        <button nbButton (click)="showActivateDialog()" status="success" class="ml-2" i18n="Activate"
                [disabled]="disableButton() || !resources || resources.length === 0">
          Activate
        </button>
      </div>

      <div class="col-12 mt-3 text-center" *ngIf="formStatus === formStatusType.error">
        <nb-alert accent="danger">
          <span i18n>There was a problem saving the record</span>
        </nb-alert>
      </div>
      <div class="col-12 mt-3" *ngIf="formStatus === formStatusType.success">
        <nb-alert accent="success">
          <div class="row">
            <div class="col-7">
              <span i18n>The record has been saved</span>
            </div>
            <div class="col-5 text-right">
              <button type="button" nbButton status="success" (click)="goBack()" i18n="Return button">Return
              </button>
            </div>
          </div>
        </nb-alert>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
