<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-6">
        <h2 i18n>
          Care plan
        </h2>
      </div>
      <div class="col-6 text-right">
        <button
          nbButton
          type="button"
          status="danger"
          *ngIf="carePlan && carePlan.status === 'active'"
          [disabled]="disableButton()"
          (click)="showDeactivateDialog()"
        >
          <nb-icon class="icon" icon="slash-outline" pack="eva"></nb-icon>
          <span i18n>Deactivate</span>
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <app-care-plan-details [patient]="patient" [carePlan]="carePlan"></app-care-plan-details>

    <div class="row mb-2">
      <div class="col-12">
        <hr/>
      </div>
    </div>

    <div class="row my-4" *ngIf="resources && medicationRequests.length > 0">
      <div class="col mb-3 d-flex">
        <h4 class="align-self-center">
          <ng-container i18n>Medication Requests</ng-container>
        </h4>
      </div>

      <div class="col-12">
        <ng-container *ngFor="let medicationRequest of medicationRequests">
          <app-medication-request-view
            class="d-block mb-3"
            [medicationRequestView]="medicationRequest"
            [editButton]="false">
          </app-medication-request-view>
        </ng-container>
      </div>
    </div>

    <div class="row" *ngIf="resources && serviceRequests.length > 0">
      <div class="col mb-3 d-flex">
        <h4 class="align-self-center">
          <ng-container i18n>Blood Glucose Measurements</ng-container>
        </h4>
      </div>

      <div class="col-12 mb-3">
        <ng-container *ngFor="let serviceRequest of serviceRequests">
          <app-service-request-view
            class="d-block mb-3"
            [serviceRequestView]="serviceRequest"
            [editButton]="false">
          </app-service-request-view>
        </ng-container>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col-12">
        <button nbButton (click)="goBack()" i18n="Return button">
          Return
        </button>
      </div>

      <div class="col-12 mt-3 text-center" *ngIf="formStatus === formStatusType.error">
        <nb-alert accent="danger">
          <span i18n>There was a problem saving the record</span>
        </nb-alert>
      </div>
      <div class="col-12 mt-3" *ngIf="formStatus === formStatusType.success">
        <nb-alert accent="success">
          <div class="row">
            <div class="col-7">
              <span i18n>The record has been deactivated</span>
            </div>
            <div class="col-5 text-right">
              <button type="button" nbButton status="success" (click)="goBack()" i18n="Return button">Return
              </button>
            </div>
          </div>
        </nb-alert>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
