<div class="row">
  <div class="col-12 col-xxxl-9">
    <nb-card>
      <nb-card-header *ngIf="patient">
        <div class="row" *ngIf="editMode; else newOrderTitle">
          <div class="col-9">
            <h2>
              Edit Medication Order
            </h2>
          </div>
          <div class="col-3 text-right">
            <button nbButton status="danger" (click)="deleteMedicationRequest()">
              <nb-icon class="icon" icon="trash" pack="eva"></nb-icon>
              Delete
            </button>
          </div>
        </div>
        <ng-template #newOrderTitle>
          <div class="row">
            <div class="col-12">
              <h2>
                <ng-container i18n>New Medication Order for</ng-container>
                {{ patientName }}
              </h2>
            </div>
          </div>
        </ng-template>
      </nb-card-header>
      <nb-card-body *ngIf="medicationForm">
        <form [formGroup]="medicationForm" (ngSubmit)="submitForm()" class="form-horizontal">
          <div class="form-group row">
            <label for="drug-name" class="col-form-label col-sm-3 form-control-label" i18n>Drug</label>
            <div class="col-sm-9">
              <input id="drug-name" nbInput fullWidth type="text" i18n-placeholder="Placeholder" placeholder="Drug name"
                     autocomplete="off"
                     [status]="getControlStatus(medicationControl)"
                     [formControl]="medicationControl"
                     [nbAutocomplete]="auto"/>
              <nb-autocomplete #auto (selectedChange)="onDrugSelectionChange($event)"
                               [handleDisplayFn]="getMedicationName">
                <nb-option *ngFor="let medication of filteredMedications | async" [value]="medication">
                  {{ getMedicationName(medication) }}
                </nb-option>
              </nb-autocomplete>
              <ng-container *ngIf="isControlInvalid(medicationControl)">
                <span class="text-danger" i18n>Medication is required</span>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="drug-dose" class="col-form-label col-sm-3 form-control-label" i18n>Dose</label>
            <div class="col-sm-3">
              <input type="number" nbInput fullWidth id="drug-dose" i18n-placeholder="Placeholder" placeholder="Dose"
                     [status]="getControlStatus(doseQuantityControl)"
                     [formControl]="doseQuantityControl">
              <ng-container *ngIf="isControlInvalid(doseQuantityControl)">
                <span class="text-danger" i18n>Dose is required</span>
              </ng-container>
            </div>
            <label for="drug-dose-unit" class="col-form-label col-sm-2 form-control-label text-right" i18n>Units</label>
            <div class="col-sm-4">
              <nb-select fullWidth id="drug-dose-unit" i18n-placeholder="Placeholder" placeholder="Select a unit"
                         [status]="getControlStatus(doseUnitControl)"
                         [formControl]="doseUnitControl">
                <nb-select-label>
                  {{ getUnitName() }}
                </nb-select-label>
                <nb-option *ngFor="let quantity of quantities" [value]="quantity">
                  {{quantity.extension[0].valueString}}
                </nb-option>
              </nb-select>
              <ng-container *ngIf="isControlInvalid(doseUnitControl)">
                <span class="text-danger" i18n>Unit is required</span>
              </ng-container>
            </div>
          </div>

          <div class="form-group row mt-2">
            <label class="col-form-label col-sm-3 form-control-label" i18n>When to take</label>
            <div class="col-sm-9">
              <app-daily-frequency-control [formControl]="dailyFrequencyControl"></app-daily-frequency-control>
              <div class="row" *ngIf="isControlInvalid(dailyFrequencyControl)">
                <div class="col-12">
                  <span class="text-danger" i18n>Please select at least one day or select "Every day"</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mt-2">
            <label class="col-form-label col-sm-3 form-control-label" i18n>Frequency</label>
            <div class="col-sm-9">
              <app-frequency-control [formControl]="frequencyControl"></app-frequency-control>
              <div class="row" *ngIf="isControlInvalid(frequencyControl)">
                <div class="col-12">
                  <span class="text-danger" i18n>Please select a valid frequency</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mt-2">
            <label class="col-form-label col-sm-3 form-control-label" i18n>Duration</label>
            <div class="col-sm-9">
              <app-duration-control [formControl]="durationControl"></app-duration-control>
              <div class="row" *ngIf="isControlInvalid(durationControl)">
                <div class="col-12">
                  <span class="text-danger" i18n>Please select a valid duration</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="drug-instructions" class="col-form-label col-sm-3 form-control-label" i18n>Instructions</label>
            <div class="col-sm-9">
              <textarea nbInput fullWidth id="drug-instructions" [formControl]="instructionsControl"></textarea>
            </div>
          </div>
          <div class="row" *ngIf="medicationForm.invalid && medicationForm.touched">
            <div class="col-12 col-sm-9 offset-sm-3">
              <span class="text-danger" i18n>Please fill out all fields</span>
            </div>
          </div>

          <app-form-actions
            class="d-block mt-4"
            [form]="medicationForm"
            [formStatus]="formStatus"
            (submit)="submitForm()"
            (goBack)="goBack()"
          >
          </app-form-actions>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
