@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

.order-table {

  thead th.ng2-smart-actions.ng-star-inserted {
    width: 1em;
  }

  td.ng2-smart-actions {
    float: left !important;

    ng2-st-tbody-custom {
      float: left;
      width: auto;
      display: flex;
      margin-top: 0.5em;

      a.ng2-smart-action.ng2-smart-action-custom-custom {
        margin-left: 0.5em;
      }
    }
  }

  table {
    tbody {
      tr:hover {
        background-color: #f4f6f9!important;
      }
    }
  }

  .action-icon {
    font-size: 1.60rem!important;
  }
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5.25rem;
  overflow: visible;

  .icon-container {
    height: 100%;
    padding: 0.625rem;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 4rem;
    font-size: 3rem;
    border-radius: nb-theme(card-border-radius);
    transition: width 0.4s ease;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    color: nb-theme(text-control-color);

    @each $status in nb-get-statuses() {
      &.status-#{$status} {
        $left-color: nb-theme(button-hero-#{$status}-left-background-color);
        $right-color: nb-theme(button-hero-#{$status}-right-background-color);
        background-image: linear-gradient(to right, $left-color, $right-color);

        &:hover {
          $left-hover-color: nb-theme(button-hero-#{$status}-hover-left-background-color);
          $right-hover-color: nb-theme(button-hero-#{$status}-hover-right-background-color);
          background-image: linear-gradient(to right, $left-hover-color, $right-hover-color);
        }
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
    @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
    border-left: 1px solid transparent;
  }
}

.list-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
  pointer-events: none;
  overflow: visible;

  .icon-container {
    height: 100%;
    padding: 0;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 3rem;
    font-size: 1.2rem;
    border-radius: nb-theme(card-border-radius);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    @each $status in nb-get-statuses() {
      &.status-#{$status} {
        $color: nb-theme(button-hero-#{$status}-right-background-color);
        color: $color;
        border: solid 1px $color;
      }
    }
  }
}

.icon-text {
  font-size: 0.9rem;
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}
