<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header *ngIf="patient">
        <div class="row" *ngIf="editMode; else newOrderTitle">
          <div class="col-9">
            <h2>
              Edit self-monitor blood glucose order
            </h2>
          </div>
          <div class="col-3 text-right">
            <button nbButton status="danger" (click)="deleteServiceRequest()">
              <nb-icon class="icon" icon="trash" pack="eva"></nb-icon>
              Delete
            </button>
          </div>
        </div>
        <ng-template #newOrderTitle>
          <div class="row">
            <div class="col-12">
              <h2>
                <ng-container i18n>New self-monitor blood glucose order for</ng-container>
                {{ patientName }}
              </h2>
            </div>
          </div>
        </ng-template>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="serviceForm" (ngSubmit)="submitForm()" class="form-horizontal">

          <div class="form-group row mt-2">
            <label class="col-form-label col-sm-3 form-control-label" i18n>Duration</label>
            <div class="col-sm-9">
              <app-duration-control [formControl]="durationControl"></app-duration-control>
              <div class="row" *ngIf="isControlInvalid(durationControl)">
                <div class="col-12">
                  <span class="text-danger" i18n>Please select a valid duration</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row div-striped">
            <label class="col-form-label col-sm-12 mb-3" i18n>When to measure</label>
            <div class="col-sm-12">
              <app-week-timing-control [formControl]="weekTimingControl"></app-week-timing-control>
              <div class="row" *ngIf="isControlInvalid(weekTimingControl)">
                <div class="col-12">
                  <span class="text-danger" i18n>Please select at least a timing</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="drug-instructions" class="col-form-label col-sm-3 form-control-label" i18n>Instructions</label>
            <div class="col-sm-9">
              <textarea nbInput fullWidth id="drug-instructions" [formControl]="instructionsControl"></textarea>
            </div>
          </div>

          <app-form-actions
            class="d-block mt-4"
            [form]="serviceForm"
            [formStatus]="formStatus"
            (submit)="submitForm()"
            (goBack)="goBack()"
          >
          </app-form-actions>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
