<nb-card>
  <nb-card-header>
    <h4 i18n>Care Plans</h4>
  </nb-card-header>
  <ng2-smart-table
    class="order-table"
    [settings]="settings"
    [source]="source">
  </ng2-smart-table>
  <nb-card-footer>
    <app-pagination-footer
      [results]="paginatedCarePlans"
      (nextClicked)="{}"
      (backClicked)="{}"
      (firstClicked)="{}">
    </app-pagination-footer>
  </nb-card-footer>
</nb-card>
