<ng-container [ngSwitch]="value">
  <div class="cursor-pointer" (click)="moveToView()" *ngSwitchCase="tableActions.View">
    <i class="far fa-eye"></i>
    <span class="ml-1" i18n>View</span>
  </div>

  <div class="cursor-pointer" (click)="moveToEdit()"  *ngSwitchCase="tableActions.Edit">
    <i class="far fa-edit"></i>
    <span class="ml-1" i18n>Edit</span>
  </div>
</ng-container>
